
@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-5 my-5 border">
    <h2>Đơn hàng đã được xác nhận</h2>
    <h3>Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể !</h3>
    <p>
        @Html.ActionLink("Back to list", "Index", "Home")
    </p>
    </div>